.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    z-index: 2;
    
}
.header__body{
    height: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    align-items: center;
}
.header__logo{
    flex: 0 0 110px;
    z-index:3;
}
.header__logo img{
    max-width: 100%;

}
.header__logo:hover{
    animation: bounce 1s linear;
}
@keyframes bounce{
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-15px);
    }
    70%{
        transform: translateY(-5px);
    }
    90%{
        transform: translateY(-1px);
    }
}
.header__burger{
    display: none;
}
.header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__burger.active span{
    transform: scale(0);
}
.header__menu{

}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    margin: 0 36px 0 0px;
}
.header__list li:nth-child(4){
    margin: 0;
}
.header__list li:nth-child(4){
    /* margin: 0 283px 0 36px ; */
}
.header__link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #4B321D;
}
.header__link:hover{
    font-size: 19px;
}
/*Адаптивные стили header*/
@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #4B321D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 0.3s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #4B321D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__body{
        padding: 40px 15px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E5E5E5;
        padding: 90px 0 0 10px ;
        transition: 0.3s ease;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        padding: 0 0 20px 0;
    }
}